Package: nagiosgraph
Source: nagiosgraph
Version: VERSION
Homepage: http://nagiosgraph.sourceforge.net/
Section: Application/System
Priority: extra
Maintainer: Alan Brenner
Architecture: all
Depends: rrdtool, libcgi-pm-perl, librrds-perl
Recommends: libgd-gd2-perl
Pre-Depends: perl
Enhances: nagios
Provides: nagiosgraph
Description: Nagiosgraph is an add-on to Nagios. It collects performance data
             into RRD files and displays graphs via cgi.
